#form{
    margin-left: 38%;
    margin-top: 50px;
    font-size: 20px;
    position: absolute;
}

a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}

a:hover{
    text-decoration: none;
    color: burlywood;
}


#form_reg{
    margin-left: 38%;
    margin-top: 50px;
    font-size: 20px;
    position: absolute;
}

.form-control{
    width: 10%;
}